.FBReader/
.adobe/
.bash_profile
.config/Qlipper/
.config/cef_user_data/
.config/dlv/
.config/droidcam
.config/fontconfig/
.config/gconf/
.config/gthumb/
.config/gxkb/
.config/helm/
.config/inkscape/
.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__/
.config/unity3d/
.fnmt/
.gksu.lock
.kube/
.shell.pre-oh-my-zsh
.steam/
.subversion/
.terraform.d/
.todo/
.zcompdump-andres-arch-5.8
Desktop/
Documents/
Images/
Projects/
Downloads/
.config/Postman/
.config/QtProject.conf
.config/VirtualBox/
.config/autostart/
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/gedit/
.config/google-chrome/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pavucontrol.ini
.config/pulse/
.config/skypeforlinux/
.config/user-dirs.dirs
.config/user-dirs.locale
.ICEauthority
.Rhistory
.Xauthority
.afirma/
.aspnet/
.aws/
.bash_history
.bash_logout
.bashrc
.bashrc-miniconda3.bak
.blueproximity/
.cache/
.composer/
.config/.gitignore
.config/Caprine/
.config/Code/
.config/Kingsoft/
.config/RStudio/
.config/Synergy/
.config/Trolltech.conf
.config/composer/
.config/conky-manager.json
.config/etcher-electron/
.config/gnome-initial-setup-done
.config/gnote/
.config/gtk-2.0/
.config/neofetch/
.config/sqlitebrowser/
.config/totem/
.config/transmission/
.config/whatsapp-desktop/
.conky/
.conkyrc
.dbeaver-drivers/
.dbeaver4/
.dbus/
.dmrc
.dotnet/
.face
.fehbg
.fonts/
.gem/
.gitconfig
.gitkraken/
.gnome/
.gnupg/
.gtkrc-2.0
.httpie/
.icons/default/
.ipython/
.java/
.kodi/
.lesshst
.local/*
.mozilla/
.mysql/
.mysql_history
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.oh-my-zsh
.p10k.zsh
.pki/
.profile
.pulse-cookie
.rangerdir
.rstudio-desktop/
.screenlayout/
.selected_editor
.sqlite_history
.ssh/
.sshconfig
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.templateengine/
.thumbnails/
.thunderbird/
.tig_history
.vagrant.d/
.viminfo
.viminfo.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vnc/
.vscode/
.w3m/
.wget-hsts
.xinitrc
.xinputrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-andres-portatil-5.4.2
.zcompdump-arch-andres-5.7.1
.zcompdump-chef-server-5.4.2
.zsh_history
.zshrc.pre-oh-my-zsh
"Im\303\241genes/"
chef/
public_html/
.oh-my-zsh/
.vim/bundle/
.kingsoft/
go/
.boto
.cert/
.config/.Shift/
.config/Microsoft/
.config/Shift/
.config/Slack/
.config/Unknown Organization/
.config/configstore/
.config/deepin/
.config/filezilla/
.config/gcloud/
.config/teams/
.config/terminator/config-old
.config/zoomus.conf
.eclipse/
.icons/Zafiro-icons/
.local/share/.com.google.Chrome.BwnL0R
.local/share/DBeaverData/
.local/share/mime/
.local/share/tracker/
.local/share/virtualenv/
.local/share/webkitgtk/
.p10k.zsh.old
.python_history
.remarkable/
.rnd
.themes/Nordic/
.tmux
.viminfl.tmp
.viminfm.tmp
.viminfn.tmp
.viminfp.tmp
.viminfq.tmp
.viminfr.tmp
.zcompdump-arch-andres-5.8
.zoom/
Escritorio/
Homestead/
PlayOnLinux's virtual drives
andres.pub
private_key_forgatech
prueba.m3u
snapd/

