Descargas/
Documentos/
Downloads/
VagrantFiles/
VirtualBox VMs/
Imágenes/
.config/Postman/
.config/QtProject.conf
.config/VirtualBox/
.config/autostart/
.config/dconf/
.config/enchant/
.config/eog/
.config/evolution/
.config/gedit/
.config/google-chrome/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/pavucontrol.ini
.config/pulse/
.config/ranger/
.config/skypeforlinux/
.config/user-dirs.dirs
.config/user-dirs.locale
.ICEauthority
.Rhistory
.Xauthority
.afirma/
.aspnet/
.aws/
.bash_history
.bash_logout
.bashrc
.bashrc-miniconda3.bak
.blueproximity/
.cache/
.composer/
.config/.gitignore
.config/Caprine/
.config/Code/
.config/Kingsoft/
.config/RStudio/
.config/Synergy/
.config/Trolltech.conf
.config/composer/
.config/conky-manager.json
.config/etcher-electron/
.config/gnome-initial-setup-done
.config/gnote/
.config/gtk-2.0/
.config/i3/lemonbar/
.config/i3/movementvimwallapaper.webp
.config/i3/ubunutu-black.jpg
.config/i3/wallpapers/
.config/neofetch/
.config/sqlitebrowser/
.config/totem/
.config/transmission/
.config/whatsapp-desktop/
.conky/
.conkyrc
.dbeaver-drivers/
.dbeaver4/
.dbus/
.dmrc
.dotnet/
.face
.fehbg
.fonts/
.gem/
.gitconfig
.gitkraken/
.gnome/
.gnupg/
.gtkrc-2.0
.httpie/
.icons/default/
.ipython/
.java/
.kodi/
.lesshst
.local/bin/
.local/lib/
.local/share/.com.google.Chrome.h73KjT
.local/share/.gitignore
.local/share/NuGet/
.local/share/WebpageIcons.db
.local/share/composer/
.local/share/fonts/.uuid
.local/share/fonts/MesloLGS NF Bold Italic.ttf
.local/share/fonts/MesloLGS NF Bold.ttf
.local/share/fonts/MesloLGS NF Italic.ttf
.local/share/fonts/MesloLGS NF Regular.ttf
.local/share/fonts/NotoSans-Bold.ttf
.local/share/fonts/NotoSans-BoldItalic.ttf
.local/share/fonts/NotoSans-Italic.ttf
.local/share/fonts/NotoSans-Regular.ttf
.local/share/gnote/
.local/share/gsettings-data-convert
.local/share/icons/
.local/share/jupyter/
.local/share/recently-used.xbel
.local/share/session_migration-i3
.local/share/session_migration-ubuntu
.local/share/vulkan/
.mozilla/
.mysql/
.mysql_history
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.oh-my-zsh
.p10k.zsh
.pki/
.profile
.pulse-cookie
.rangerdir
.rstudio-desktop/
.screenlayout/
.selected_editor
.sqlite_history
.ssh/
.sshconfig
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.templateengine/
.thumbnails/
.thunderbird/
.tig_history
.vagrant.d/
.viminfo
.viminfo.tmp
.viminfs.tmp
.viminft.tmp
.viminfu.tmp
.viminfv.tmp
.viminfw.tmp
.viminfx.tmp
.viminfy.tmp
.viminfz.tmp
.vnc/
.vscode/
.w3m/
.wget-hsts
.xinitrc
.xinputrc
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-andres-portatil-5.4.2
.zcompdump-arch-andres-5.7.1
.zcompdump-chef-server-5.4.2
.zsh_history
.zshrc.pre-oh-my-zsh
"Im\303\241genes/"
chef/
public_html/
.oh-my-zsh/
.vim/bundle/
.kingsoft/
go/
