configuration {
    show-icons:            false;
    modi:                  "drun,window,run,ssh";
    matching:              "fuzzy";
    font:                  "Fira Code 12";
    terminal:              "kitty";
    ssh-client:            "kitty +kitten ssh";
    ssh-command:           "{terminal} {ssh-client} {host}";
}
@theme "custom-nord.rasi"
